{{extend 'layout.html'}}
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyCkmDp5cxkybaMIT-XLhjKZPFXEkoIF7Wc"></script>
{{import os}}

{{=form}}

<div id="map-canvas" style="height:600px;width:1000px"></div>

{{if not(form.vars['file'] is None): }}
    {{filename=os.path.join(request.folder, 'uploads', form.vars['file'])}}
    {{try:}}
        {{AnalyzeLogFile(filename)}}

<script type="text/javascript">
var map;
var mapOptions;
var myLatlng;
var marker;
function initialize()
{
    myLatLng = new google.maps.LatLng(48.856614, 2.3522219);
    mapOptions = { zoom: 2, minZoom: 2, center: myLatLng };

    map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
    {{for akey in ip_collection.keys():}}
      {{if (float(ip_collection[akey][0][0]) != 0) | (float(ip_collection[akey][0][0]) != 0):}}
        marker = new google.maps.Marker({ position: new google.maps.LatLng( {{=ip_collection[akey][0][1]}} , {{=ip_collection[akey][0][0]}} ), map:map, title:"{{=akey}}" });
    {{pass}}
    {{pass}}
};
</script>

        <h1>List of IP found in logs file:{{=filename}}</h1>
        <p>Nbr of disctinct IPs discovered in file: {{=len(ip_collection.keys())}}</p>
        <script>google.maps.event.addDomListener(window, 'load', initialize());</script>

    {{except IOError:}}
        <p>ERROR while trying to read file '{{=filename}}'</p>
    {{pass}}
{{else:}}
    <h1>Please select a valid APACHELOG txt file to be processed (file shall contain IP4 addresses)</h1>
{{pass}}
